/* ---------- App level styles ---------- */
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    max-width: 100%;
    height: 100%;
    margin: 0px;
    background-color: #FEFBF7;

    /* sticky footer */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* end sticky footer */
}

input {
    background-color: #fcf5eb!important;
}

textarea {
    background-color: #fcf5eb!important;
}

label {
    padding-left: 10px;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #005eed !important;
}

.input-field input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: #005eed !important;
    border-bottom: 1px solid #005eed !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #005eed !important;
    box-shadow: 0 1px 0 0 #005eed !important;
}

.transparent {
    background: transparent;
    border: 0px solid;
}

.redText {
    color: #BB2B10;
}

.plus {
    margin-left: 160px;
}

a:hover {
    color: #968d81;
    text-decoration: none;
    background-color: transparent;
    box-shadow: 0 0 0;
}

.btn-primary {
    border: 3px solid;
    border-color: #ffffff;
}

.card {
    background-color: #FEFBF7;
}

.topPad {
    padding-top: 50px;
}
/* ---------- End App level styles ---------- */


/* ---------- Top Nav ---------- */
.login {
    padding-right: 20px;
}

.nav-wrapper {
    background-color: #F4E8CE;
}

.logo {
    margin-bottom: 10px;
}

.brand-logo {
    margin-bottom: 10px;
}
/* ---------- End Top Nav ---------- */





/* ---------- Bottom Nav ---------- */
.botmLinks {
    padding-right: 20px;
}

.page-footer {
    background: #F4E8CE!important;
    padding: 0px;
    border-top: 1px solid #a6a6a6;
}

.footer {
    height: 40px;
}

.footer-copyright {
    background-color: #F4E8CE!important;
}

.push {
    height: 40px;
}
/* ---------- End Bottom Nav ---------- */





/* ---------- Home page (index.html) ---------- */
#landingContainer {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    flex: 1 0 auto;
}

.vline {
    border-right: 1px solid;
}

.vdivide {
    background: #000000;
    width: 1px;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    min-height: 100%;
    margin-bottom: -50px;
}

.landingContainer {
    height: 1064px;
}

.landingCard {
    margin-top: 100px;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.5);
}

.registerBtn {
    margin-top: 20px;
}
/* ---------- End Home page (index.html) ---------- */




/* ---------- Profile page ------------*/
.emailinput {
    color: #4B576F;
}
/* ---------- End Profile page ------------*/




/* ---------- Feed page ---------- */
#cliqueCard {
    margin: 5px;
    height: 200px;
    width: 300px;
    float: left;
    margin-bottom: 30px;
}
/* ---------- End Feed page ---------- */




/* ---------- Contact Page---------- */
.contactSubmit {
    padding: 10px 0px 5px 0px;
}
/* ---------- End Contact Page---------- */




/* ---------- media queries ---------- */
/* Small devices (landscape phones, 576px and up) */

@media screen and (min-width: 576px) {}




/* Medium devices (tablets, 768px and up) */

@media screen and (min-width: 768px) {}




/* Large devices (desktops, 992px and up) */

@media screen and (min-width: 992px) {}




/* Extra large devices (large desktops, 1200px and up) */

@media screen and (min-width: 1200px) {}




/* ---------- end media queries ---------- */